#bio-seperator {
	color: #ddd;
}
#bio-img {
	height: 200px;
	width: 200px;
	float: left;
	padding: 10px 10px 10px 0;
}
.bio-text {
	font-family: 'Changa', cursive;
	line-height: 23px;
	color: black;
}